@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}
div{
  font-family: 'Manrope', sans-serif;
}

.colorviolet{
  background-color: #1a1b38;
}

.colorserve{
  background-color: rgb(31, 218, 140);
}

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent;
}

code {
  font-family: 'Manrope', sans-serif;
}
