@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
div{
  font-family: 'Source Sans Pro', sans-serif;
}

.acadfont{
  font-family: 'Yellowtail', cursive;
}

.jobfont{
  font-family: 'Rye', cursive;
}
.storefont{
  font-family: 'Pacifico', cursive;
}


.colorviolet{
  background-color: #0f0a55;
}

.colorserve{
  background-color: rgb(31, 218, 140);
}

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent;
}


.jobcard{
  background-color: #0a0d19;
}

.jobmain{
  background-color:#1e1f26;
}

.jobcolor{
  background: linear-gradient(90deg, #08054d 0%, #221c49 100%);

}

.scroll-hid::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-400px * 3));
 }
}
.slider {
  height: 550px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before, .slider::after {

  height: 550px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 5s linear infinite;
  display: flex;
  width: calc(400px * 6);
}
.slider .slide {
  height: 550px;
  width: 400px;
}



code {
  font-family: 'Manrope', sans-serif;
}


.coloracad{
  background-color: #1a1b38;
}
